<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Index</title>
</head>
<body>
    If you are not logged in:
    <ul>
      <li><a href="https://api.worldoftanks.com/wot/auth/login/?application_id=fbce3a1f1e33593e425bea390d4bec71&redirect_uri=http://localhost:8080/checklogin">log in with Wargaming NA ID</a></li>
      <li><a href="https://api.worldofwarships.eu/wows/account/list/?application_id=fbce3a1f1e33593e425bea390d4bec71">log in with Wargaming EU ID</a></li>
      <li><a href="https://api.worldofwarships.asia/wows/account/list/?application_id=fbce3a1f1e33593e425bea390d4bec71">log in with Wargaming ASIA ID</a></li>
    </ul>
</body>
</html>