<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:java="java">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${APPLICATION_TITLE}">WoWS Whiteboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container landing-content">
        <!-- Application Title and Logo -->
        <h1 th:text="${appTitle}">WoWS Whiteboard</h1>
        <img src="logo.png" class="logo">
        
        <!-- Welcome -->
        <h3>Have a code? Enter it here!</h3>
        <form th:action="@{/joincode}" method="GET">
          <table class="table table-sm">
            <tr>
              <td class="col-11"><input type="text" class="form-control" name="code" placeholder="paste your code here"></td>
              <td class="col-1"><button type="submit" class="btn btn-primary">Go</button></td>
            </tr>
          </table>
        </form>
        
        <!-- Login Invitation -->
        <p>Or, log in with your Wargaming.net account to access full site features:</p>
        
        <!-- Login Button -->
        <table align=center>
            <tr>
                <td><a th:href="${naGetLogin}" class="btn btn-primary btn-lg">NA Login</a></td>
                <td><a th:href="${euGetLogin}" class="btn btn-primary btn-lg">EU Login</a></td>
                <td><a th:href="${asGetLogin}" class="btn btn-primary btn-lg">ASIA Login</a></td>
            </tr>
        </table>
    </div>
    
    <div th:replace="~{fragments :: legal-footer}"></div>

    <div th:replace="~{fragments :: scripts}"></div>
</body>
</html>
